/* 아동용 카드 결제 화면 */
.Children-card-payment-screen {
    text-align: center;
    border: 1px solid #2D76E2;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
  }
  
  /* 타이틀 스타일링 */
  .Children-card-payment-title {
    font-size: 4.5rem;
    color: #2D76E2;
    font-weight: bold;
    margin-top: 150px; /* 필요에 따라 margin 조정 */
    margin-bottom: 70px;
  }
  
  /* 카드 투입기 */
  .Children-cardpayment-card-slot-wrapper {
    width: 300px; /* 카드 슬롯보다 약간 더 큼 */
    height: 30px; /* 카드 슬롯보다 약간 더 큼 */
    background-color: black; /* 얇은 검은 사각형 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* 중앙에 위치 */
    margin-bottom: 180px;
    border-radius: 10px;
    
  }
  
  /* 그라디언트 카드 슬롯 */
  .Children-cardpayment-card-slot {
    width: 180px;
    height: 250px;
    background: linear-gradient(to bottom, #4FACFE, #E6F3FF); /* 그라디언트 */
    border-radius: 10px; /* border 굴곡 설정 */
    margin-top: 220px;
  }
  
  
  /* 컨트롤 container */
  .Children-card-payment-controls {
    margin-top: 50px;
  }
  
  /* 뒤로 가기 버튼 스타일링 */
  .Children-cardpayment-back-button {
    background-color: #EAF2FD; /* 연분홍색 배경 */
    color: #2D76E2; /* 파랑색 글꼴 */
    padding: 30px 40px;
    border: none;
    border-radius: 10px;
    font-size: 1.8rem; /* 크기 증가 */
    font-weight: bold;
    cursor: pointer;
    margin-right: 350px;
    margin-top: 280px;
  }
  
  /* 카드 삽입 버튼 스타일링 */
  .Children-cardpayment-card-insert-button {
    background-color: #2D76E2; /* 분홍색 배경 */
    color: white;
    padding: 30px 40px; /* 크기 증가 */
    border: none;
    border-radius: 10px;
    font-size: 1.8rem; /* 더 큰 글꼴 크기 */
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
  }
  
  /* 검은색 오버레이가 있는 팝업 스타일링 */
  .Children-cardpayment-card-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001; /* 오버레이 위에 나타나는지 확인 */
  }
  
  /* 블랙 오버레이 효과 */
  .Children-cardpayment-card-popup.dimmed::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 투명도가 있는 검은색 오버레이 */
    z-index: 1000; /* 팝업이 위에 표시될 수 있도록 z-index를 낮춤 */
    pointer-events: none; /* 상호작용이 오버레이를 통과하도록 허용 */
  }
  
  /* 카드 팝업 콘텐츠 */
  .Children-cardpayment-card-popup-content {
    background-color: #2D76E2;
    color: white;
    padding: 60px 100px;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    z-index: 1002; /* 오버레이 위에 나타나는지 확인 */
  }
  
  /* 카드 팝업 내 글꼴 스타일링 */
  .Children-cardpayment-card-popup-content p {
    font-size: 2rem !important; /* 메시지의 일관된 크기 */
    font-weight: bold;
    margin: 0;
    line-height: 1.5;
  }