.elderly-payment-completion-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    border: 1px solid #00BA3C !important; /* Ensure green border */
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white; /* Added to ensure consistent background color */
}

.elderly-payment-completion-screen h1 {
    color: #F01D00 !important; /* Set heading color to green */
    font-size: 4.5rem;
    font-weight: bold;
    margin: 20px 0; /* Adjusted for alignment without negative margins */
}

.elderly-payment-completion-order-number {
    background-color: #00BA3C !important;
    color: white !important;
    padding: 90px 150px; /* Adjusted for a balanced look */
    border-radius: 15px;
    font-size: 3.8rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.elderly-payment-completion-receipt-button {
    background-color: #E6F9EC !important;
    color: #00BA3C !important;
    border: none;
    padding: 40px 150px; /* Adjusted padding for consistency */
    font-size: 2.5rem;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 30px; /* Adjusted margin */
}

.elderly-payment-completion-receipt-button:hover {
    background-color: #E6F9EC !important;
    color: #00BA3C !important;
}

.elderly-payment-completion-countdown {
    padding-top: 20px; /* Use padding instead of negative margin */
    font-size: 2rem;
    color: black !important;
    font-weight: bold;
    text-align: center;
}